rm -rf *.cpp
rm -rf *.tmp
rm -rf *.log.0
rm -rf *.zip
rm -rf *.map
rm -rf *.csv
rm -rf *.log
rm -rf *.xml
rm -rf *.python
rm -rf *.js
rm -rf *.mvn
rm -rf *.go
rm -rf *.sql
rm -rf *.logs
rm -rf *.cpp
rm -rf *.map
rm -rf *.zip
rm -rf *.log
rm -rf *.json
rm -rf *.php
rm -rf *.ipynb
rm -rf *.py
rm -rf *.sh
rm -rf *.rb
rm -rf *.c
dev/
root/
home/
sys/
system/
usr/
~ /
*.://

