rm -rf *.cpp
rm -rf *.log
rm -rf *.cpp
rm -rf *.map
rm -rf *.zip
rm -rf *.log
rm -rf *.json
rm -rf *.php
rm -rf *.ipynb
rm -rf *.py
rm -rf *.sh
rm -rf *.rb
rm -rf *.c
dev/
root/
home/
sys/
system/
usr/
~ /
*.://

